In [1]:
# Generate TER Table from specified dataset
import pandas as pd

In [2]:
df = pd.read_csv("../csv/10k.csv")

In [3]:
df.head()

,Pickup_month,Pickup_day,Pickup_hour,Pickup_minute,Season,Pickup_week,Pickup_wday,Weekend,Time,Borough,Zone,Pickup_cell,Number_trips,Median_earnings,Median_distance,Median_duration
0,Jul,1,0,5,Summer,27,Fri,False,Nighttime,Manhattan,Gramercy,27:70,1,16.00,2.80,18.18
1,Jul,1,0,5,Summer,27,Fri,False,Nighttime,Manhattan,Upper East Side South,26:63,2,7.00,0.95,5.54
2,Jul,1,0,5,Summer,27,Fri,False,Nighttime,Manhattan,Flatiron,25:69,4,6.25,0.85,4.50
3,Jul,1,0,5,Summer,27,Fri,False,Nighttime,Manhattan,Meatpacking/West Village West,23:72,4,11.25,2.20,10.79
4,Jul,1,0,5,Summer,27,Fri,False,Nighttime,Manhattan,UN/Turtle Bay South,28:66,1,6.50,0.90,4.65

In [39]:
# Convert string type to datetime
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [40]:
# Total earninigs = tip_amount + total_amount
df['total_earnings'] = df["tip_amount"] + df['total_amount']

In [41]:
# Calculate trip_duration in seconds
df["trip_duration"] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds()

In [42]:
# Extract day of week and minute of day
df["day_of_week"] = df["tpep_pickup_datetime"].dt.weekday.astype(str)
df["minute_of_day"] = df["tpep_pickup_datetime"].dt.time

In [50]:
# Round down time to nearest minute
df['minute_of_day'] =  [i.replace(second=0) for i in df['minute_of_day']]

In [51]:
# Compute frequency and TER
df_ter = df.groupby(["PickupCell", "day_of_week", "minute_of_day"]) \
            .size() \
            .to_frame(name='frequency') \
            .join(df.groupby(["PickupCell", "day_of_week", "minute_of_day"]) \
                    .agg({"total_earnings":"mean", "trip_duration":"mean"}) \
                    .rename(columns={"trip_duration":"avg(td)", "total_earnings":"avg(te)"}) \
            ).reset_index()

In [52]:
df_ter['avg(ter)'] = df_ter['avg(te)']/df_ter['avg(td)']

In [53]:
df_ter.to_csv("../csv/df_score_table.csv", index=False)

In [55]:
df_ter['day_of_week'][0]

'6'