In [7]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.cluster import KMeans
from sklearn.metrics import mean_squared_error
from scipy import cluster
from random import randint
import time
df=pd.read_csv("yellow_tripdata_2015-07.csv").sample(10000,random_state=1)

#adopt ricky's implementation regards data preprocessing

In [8]:

df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,...,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,PickupCell,DropoffCell,Unnamed: 21
5533900,1,2015-07-16 12:17:09,2015-07-16 12:25:05,2,1.30,-73.991470,40.739048,1,N,-74.006851,...,7.0,0.0,0.5,1.00,0.00,0.3,8.80,26:70,24:73,NaN
10464409,1,2015-07-29 09:51:13,2015-07-29 10:14:47,1,4.10,-73.994011,40.751160,1,N,-74.013603,...,18.5,0.0,0.5,4.82,0.00,0.3,24.12,24:68,26:77,NaN
1196437,2,2015-07-04 15:29:20,2015-07-04 15:35:41,1,1.02,-73.984238,40.758743,1,N,-73.969475,...,6.0,0.0,0.5,0.00,0.00,0.3,6.80,25:66,27:64,NaN
1220618,1,2015-07-04 17:24:08,2015-07-04 17:30:28,1,1.20,-73.965233,40.774536,1,N,-73.981430,...,6.5,0.0,0.5,1.00,0.00,0.3,8.30,26:61,24:63,NaN
8184125,1,2015-07-23 09:17:11,2015-07-23 09:39:31,2,6.60,-74.002144,40.739681,3,N,-74.067192,...,39.5,0.0,0.0,20.00,11.75,0.3,71.55,NaN,NaN,NaN

In [10]:

#stay consistent with ricky's data preprocessing 




# Convert string type to datetime
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
# Total earninigs = tip_amount + total_amount
df['total_earnings'] = df["tip_amount"] + df['total_amount']
# Calculate trip_duration in seconds
df["trip_duration"] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds()
# Extract day of week and minute of day
df["day_of_week"] = df["tpep_pickup_datetime"].dt.weekday.astype(str)
df["minute_of_day"] = df["tpep_pickup_datetime"].dt.time
# Round down time to nearest minute
df['minute_of_day'] =  [i.replace(second=0) for i in df['minute_of_day']]
# Compute frequency and TER
df_ter = df.groupby(["PickupCell", "day_of_week", "minute_of_day"]) \
            .size() \
            .to_frame(name='frequency') \
            .join(df.groupby(["PickupCell", "day_of_week", "minute_of_day"]) \
                    .agg({"total_earnings":"mean", "trip_duration":"mean"}) \
                    .rename(columns={"trip_duration":"avg(td)", "total_earnings":"avg(te)"}) \
            ).reset_index()
df_ter['avg(ter)'] = df_ter['avg(te)']/df_ter['avg(td)']
df_ter.to_csv("df_score_table.csv", index=False)
df_ter['day_of_week'][0]

'4'

In [45]:
df_st = pd.read_csv("df_score_table.csv")
df_st

,PickupCell,day_of_week,minute_of_day,frequency,avg(te),avg(td),avg(ter)
0,21:42,4,00:59:00,1,20.80,1159.0,0.017947
1,21:45,3,00:54:00,1,52.48,1263.0,0.041552
2,21:67,3,11:50:00,1,12.30,1042.0,0.011804
3,21:67,5,18:36:00,1,12.30,1044.0,0.011782
4,21:68,0,11:32:00,1,12.80,900.0,0.014222
5,21:68,1,21:15:00,1,12.32,465.0,0.026495
6,21:68,2,08:52:00,1,13.02,596.0,0.021846
7,21:68,2,18:29:00,1,23.52,1369.0,0.017180
8,21:68,2,20:33:00,1,10.20,356.0,0.028652
9,21:68,3,08:12:00,1,13.80,401.0,0.034414
10,21:68,3,14:15:00,1,60.34,2964.0,0.020358
11,21:68,4,11:16:00,1,22.00,1069.0,0.020580
12,21:68,4,12:17:00,1,11.80,821.0,0.014373
13,21:68,4,14:54:00,1,11.80,849.0,0.013899
14,21:68,4,17:21:00,1,13.80,573.0,0.024084
15,21:68,5,16:46:00,1,9.30,689.0,0.013498
16,21:68,5,19:13:00,1,18.46,682.0,0.027067
17,21:68,6,14:09:00,1,24.40,958.0,0.025470
18,21:68,6,14:49:00,1,8.30,551.0,0.015064
19,21:68,6,18:33:00,1,14.00,560.0,0.025000
20,22:46,6,01:08:00,1,31.30,1592.0,0.019661
21,22:47,3,09:38:00,1,15.12,555.0,0.027243
22,22:48,2,07:53:00,1,36.34,1597.0,0.022755
23,22:48,4,06:33:00,1,81.64,1769.0,0.046150
24,22:50,0,22:48:00,1,14.00,462.0,0.030303
25,22:50,3,21:15:00,1,8.80,249.0,0.035341
26,22:50,6,04:43:00,1,4.80,78.0,0.061538
27,22:51,4,02:37:00,1,5.80,203.0,0.028571
28,22:52,6,07:55:00,1,45.28,1284.0,0.035265
29,22:52,6,17:29:00,1,6.30,213.0,0.029577
...,...,...,...,...,...,...,...
9705,72:59,0,18:42:00,1,64.94,2574.0,0.025229
9706,72:59,0,20:27:00,1,52.80,2000.0,0.026400
9707,72:59,1,06:42:00,1,23.30,1134.0,0.020547
9708,72:59,1,07:24:00,1,65.50,2763.0,0.023706
9709,72:59,1,07:38:00,1,55.02,2401.0,0.022915
9710,72:59,1,17:30:00,1,81.68,3776.0,0.021631
9711,72:59,1,19:35:00,1,87.50,2640.0,0.033144
9712,72:59,2,10:15:00,1,41.30,2549.0,0.016202
9713,72:59,2,13:57:00,1,85.20,3447.0,0.024717
9714,72:59,3,05:01:00,1,81.68,1990.0,0.041045
9715,72:59,3,14:34:00,1,69.72,3493.0,0.019960
9716,72:59,3,20:58:00,1,31.80,1712.0,0.018575
9717,72:59,3,21:24:00,1,52.80,3089.0,0.017093
9718,72:59,3,21:43:00,1,81.64,2340.0,0.034889
9719,72:59,3,23:28:00,1,63.34,1939.0,0.032666
9720,72:59,4,06:43:00,1,29.30,1265.0,0.023162
9721,72:59,4,15:08:00,1,60.80,3995.0,0.015219
9722,72:59,4,17:29:00,1,59.30,3635.0,0.016314
9723,72:59,4,21:11:00,1,37.80,2479.0,0.015248
9724,72:59,4,22:25:00,1,55.02,2068.0,0.026605
9725,72:59,4,23:03:00,1,36.30,1514.0,0.023976
9726,72:59,4,23:51:00,1,81.64,1722.0,0.047410
9727,72:59,5,16:32:00,1,3.30,8.0,0.412500
9728,72:59,6,09:47:00,1,14.30,571.0,0.025044
9729,72:59,6,13:16:00,1,23.80,1111.0,0.021422
9730,72:59,6,16:42:00,1,72.46,2806.0,0.025823
9731,72:59,6,22:04:00,1,44.80,1498.0,0.029907
9732,72:60,1,10:02:00,1,73.92,3339.0,0.022138
9733,72:60,3,21:03:00,1,23.80,1143.0,0.020822
9734,72:60,5,16:06:00,1,81.68,2480.0,0.032935

In [46]:
X = df_st.loc[:, ["PickupCell","day_of_week","minute_of_day"]]
y = df_st.loc[:,"frequency"].astype('float')

In [47]:
import statsmodels.api as sm
from sklearn.preprocessing import OneHotEncoder

In [61]:
df_st["PickupCell"]=df_st["PickupCell"].astype('str')
df_st["PickupCell"]=df_st["PickupCell"].str.strip(':')
df_st

,PickupCell,day_of_week,minute_of_day,frequency,avg(te),avg(td),avg(ter)
0,21:42,4,00:59:00,1,20.80,1159.0,0.017947
1,21:45,3,00:54:00,1,52.48,1263.0,0.041552
2,21:67,3,11:50:00,1,12.30,1042.0,0.011804
3,21:67,5,18:36:00,1,12.30,1044.0,0.011782
4,21:68,0,11:32:00,1,12.80,900.0,0.014222
5,21:68,1,21:15:00,1,12.32,465.0,0.026495
6,21:68,2,08:52:00,1,13.02,596.0,0.021846
7,21:68,2,18:29:00,1,23.52,1369.0,0.017180
8,21:68,2,20:33:00,1,10.20,356.0,0.028652
9,21:68,3,08:12:00,1,13.80,401.0,0.034414
10,21:68,3,14:15:00,1,60.34,2964.0,0.020358
11,21:68,4,11:16:00,1,22.00,1069.0,0.020580
12,21:68,4,12:17:00,1,11.80,821.0,0.014373
13,21:68,4,14:54:00,1,11.80,849.0,0.013899
14,21:68,4,17:21:00,1,13.80,573.0,0.024084
15,21:68,5,16:46:00,1,9.30,689.0,0.013498
16,21:68,5,19:13:00,1,18.46,682.0,0.027067
17,21:68,6,14:09:00,1,24.40,958.0,0.025470
18,21:68,6,14:49:00,1,8.30,551.0,0.015064
19,21:68,6,18:33:00,1,14.00,560.0,0.025000
20,22:46,6,01:08:00,1,31.30,1592.0,0.019661
21,22:47,3,09:38:00,1,15.12,555.0,0.027243
22,22:48,2,07:53:00,1,36.34,1597.0,0.022755
23,22:48,4,06:33:00,1,81.64,1769.0,0.046150
24,22:50,0,22:48:00,1,14.00,462.0,0.030303
25,22:50,3,21:15:00,1,8.80,249.0,0.035341
26,22:50,6,04:43:00,1,4.80,78.0,0.061538
27,22:51,4,02:37:00,1,5.80,203.0,0.028571
28,22:52,6,07:55:00,1,45.28,1284.0,0.035265
29,22:52,6,17:29:00,1,6.30,213.0,0.029577
...,...,...,...,...,...,...,...
9705,72:59,0,18:42:00,1,64.94,2574.0,0.025229
9706,72:59,0,20:27:00,1,52.80,2000.0,0.026400
9707,72:59,1,06:42:00,1,23.30,1134.0,0.020547
9708,72:59,1,07:24:00,1,65.50,2763.0,0.023706
9709,72:59,1,07:38:00,1,55.02,2401.0,0.022915
9710,72:59,1,17:30:00,1,81.68,3776.0,0.021631
9711,72:59,1,19:35:00,1,87.50,2640.0,0.033144
9712,72:59,2,10:15:00,1,41.30,2549.0,0.016202
9713,72:59,2,13:57:00,1,85.20,3447.0,0.024717
9714,72:59,3,05:01:00,1,81.68,1990.0,0.041045
9715,72:59,3,14:34:00,1,69.72,3493.0,0.019960
9716,72:59,3,20:58:00,1,31.80,1712.0,0.018575
9717,72:59,3,21:24:00,1,52.80,3089.0,0.017093
9718,72:59,3,21:43:00,1,81.64,2340.0,0.034889
9719,72:59,3,23:28:00,1,63.34,1939.0,0.032666
9720,72:59,4,06:43:00,1,29.30,1265.0,0.023162
9721,72:59,4,15:08:00,1,60.80,3995.0,0.015219
9722,72:59,4,17:29:00,1,59.30,3635.0,0.016314
9723,72:59,4,21:11:00,1,37.80,2479.0,0.015248
9724,72:59,4,22:25:00,1,55.02,2068.0,0.026605
9725,72:59,4,23:03:00,1,36.30,1514.0,0.023976
9726,72:59,4,23:51:00,1,81.64,1722.0,0.047410
9727,72:59,5,16:32:00,1,3.30,8.0,0.412500
9728,72:59,6,09:47:00,1,14.30,571.0,0.025044
9729,72:59,6,13:16:00,1,23.80,1111.0,0.021422
9730,72:59,6,16:42:00,1,72.46,2806.0,0.025823
9731,72:59,6,22:04:00,1,44.80,1498.0,0.029907
9732,72:60,1,10:02:00,1,73.92,3339.0,0.022138
9733,72:60,3,21:03:00,1,23.80,1143.0,0.020822
9734,72:60,5,16:06:00,1,81.68,2480.0,0.032935

In [62]:
res = sm.GLM(y, X, family=sm.families.Poisson()).fit()

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).